src/main/mule/userManagement.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="b4c03c51-aebd-4019-a88d-42849abaee11" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Aleena@123" database="db" />
	</db:config>
	<flow name="userManagementFlow" doc:id="6483485e-e8d3-4aaf-a9ae-f4c277a7a8c6" >
		<http:listener doc:name="Listener" doc:id="b5792336-e909-4be4-875a-42679d5b4c64" config-ref="online-library-api-httpListenerConfig" path="/user"/>
		<db:select doc:name="Select" doc:id="51146ec3-ad30-4e4a-8ed8-f75a7bde8d83" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from abc;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="9e259f54-89e9-4d4c-a8c0-d14cafe0091f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="11fd4abd-caba-4acb-84c9-9ea1ff99e75f" message="#[payload]"/>
	</flow>
</mule>
